<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(products.length>0){ %>
                <ul>
                    <% products.forEach(crntP=>{ %>
                        <li>

                            <!-- earlier while using file system for data storing, then we were using object format for data storing in which productData key has been used so that's why in earlier code productData is used but as of now we are using mySql so here we can directly pass .title for cart page to display -->
                            <p><%= crntP.title %> (Quantity : <%= crntP.cartItem.quantity %>)</p>   <!-- here, for passing quantity, we have to get it from cartItem which is received as the one of the key of the product object in which all the data of the cartItem will be avaiable for that product -->
                            <form action="/cart-quantity" method="post">
                                <input type="hidden" name="productId" id="productId" value="<%= crntP.id %>">
                                <button type="submit" class="btn" name="action" value="increase">+</button>
                            </form>
                            <form action="/cart-quantity" method="post">
                                <input type="hidden" name="productId" id="productId" value="<%= crntP.id %>">
                                <button type="submit" class="btn" name="action" value="decrease"> - </button>
                            </form>

                            <form action="/cart-delete-item" method="post">
                                <input type="hidden" name="productId" id="productId" value="<%= crntP.id %>">
                                <button type="submit" class="btn" >Delete</button>
                            </form>
                            
                        </li>  
                    <% }) %>
                </ul>
            <% }else{ %>
                <h1>no Products Avaialble in cart...</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>
        